@keyframes scaleInDown{
    0% {
        opacity: 1;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes scaleOutUp{
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes scaleInUp{
    0% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
  
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes scaleOutDown{
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, -100%, 0);
    }
}

.down-in{
    animation: scaleInDown .2s ease-out both;
}

.down-out{
    animation: scaleOutUp .2s ease-out both;
}

.up-in{
    animation: scaleInUp .2s ease-out both;
}

.up-out{
    animation: scaleOutDown .2s ease-out both;
}
